@model TodoItem
@{
    ViewData["Title"] = "Delete Task";
}

<form method="post" asp-action="DeleteTodo">
    <input asp-for="Id" hidden />
    <div class="p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-dark">Delete Task</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Date"></label>
            <input asp-for="Date" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Priority"></label>
            <select asp-for="Priority" disabled class="form-select" aria-label="Priority">
                <option value="" selected>Select a priority</option>
                <option value="high">High</option>
                <option value="medium">Medium</option>
                <option value="low">Low</option>
            </select>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" disabled type="checkbox" asp-for="isDone">
                <label class="form-check-label" asp-for="isDone"></label>
            </div>
        </div>
        <button type="submit" class="btn btn-dark" style="width:150px">
            Delete
        </button>
        <a asp-controller="TodoItem" asp-action="Index" class="btn btn-danger" style="width:150px">
            Back to List
        </a>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}